<html>

<body>
<div style="border-left:#f00 10px solid;margin-left:20%; margin-right:20%; background-color:#66b2ff; padding:20px; height: 800px;">

<h1 style="color:#fff">ANAGRAMA</h1>

<form action="/solutie" method="get">
Salut, {{ nume }}
<BR>
{% if gresit %}
Ai gresit, mai incearca (hint: {{ cuvant }})
{% endif %}
<BR>
Anagrama este: {{litere}}
<br><br>
Solutia ta: <input name=solutie></input> 
<br><br>
<input type="submit" value="OK"></input> 
</form>
</div>

</body>

</html>