<html>

<body>


<div style="border-left:#f00 10px solid;margin-left:20%; margin-right:20%; background-color:#66b2ff; padding:20px; height: 800px;">
<h1 style="color:#fff">ANAGRAMA</h1>
<form action="/joc">
NUMELE TAU: <input name="nume"></input>
<BR>
<BR>
DIFICULTATE:
<select name="dificultate">
  <option value="4">Usor</option>
  <option value="5">Mediu</option>
  <option value="6">Dificil</option>
  <option value="8">Zeu</option>
</select> 
<br><br>
<input type="submit" value="OK"></input> 
</form>
</div>

</body>

</html>